<!DOCTYPE>
<html ng-app="app">
<head>
	<title>Vocab Worksheets</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	h1 {
		font-family: 'Roboto', serif;
	}
	h4 {
		font-family: 'Roboto Condensed', sans-serif;
	}
	.picture {
		border: 2px solid black;
		height: 94px;
		color: grey;
	}
	/*.top-buffer { margin-top:20px; }*/
	.loadWords {
		background-color: #47BBFF;
		padding: 10px;
	}
	#offset {
		margin-bottom: 140px;
	}
		@media print {
			.paper {
				page-break-after: always;
				margin: 20px;
				padding: 10px;
			}
			.loadWords, #offset {
				display: none !important;
			}
		}
	</style>
</head>
<body ng-controller="ctrl">
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top loadWords">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-click="show=!show"></span>Title and Words


			<div class="form-group" ng-show="show">
				<div class="row">
					<div class="col-xs-12">
						<a href="#" class="btn btn-lg btn-primary col-xs-12" ng-click="setVocab()">Make Worksheets</a>				
					</div>
				</div>

					<div class="input-group col-md-12">
						<label class="control-label input-group-addon">Title For Worksheets</label>
						<input type="text" class="form-control" ng-model="title">
					</div>
				
			
				<div class="input-group col-md-12">
					<label class="control-label input-group-addon">Vocabulary Words</label>
					<textarea class="form-control" ng-model="vocabText" placeholder="Vocabulary words go here..."></textarea>

				</div>
				
			</div>
		</nav>
		<div id="offset"></div>
		

		

		<div class="paper" ng-repeat="group in vgroups">
			<div class="row">
				<div class="col-sm-12">
					<p class="pull-right"> Today's Date: ______________</p>
					<p class="pull-right"> Group: ________ </p>
					<p class="pull-right"> Full Name: __________________________________, </p>
					
				</div>
						
			</div>
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">{{title}} {{$index+1}}</h1>
					<h4 class="text-center"><em>
						words: {{group[0]}}...{{group[group.length-1]}}</em>	</h4>			
				</div>
			</div>

			<div class="row" ng-repeat="word in group">
				</p>
				<div class="col-sm-12">
					<div class="col-xs-2">
						<h4 style="font-family:'Alegreya' sans-serif;">{{word}}</h4>
					</div>
					<div class="col-xs-3">part(s) of speech
						<input type="text" class="form-control"></div>
					<div class="col-xs-4">synonyms (3) <input type="text" class="form-control"></div>
					<div class="col-xs-3">antonyms (2) <input type="text" class="form-control"></div>
					
				</div>
				<div class="row">
					<div class="row">
						<div class="col-xs-12">
						<p class="">Your definition of "{{word}}" below:</p></div>
					</div>
					<div class="row">
						<div class="col-xs-8">
							<textarea class="form-control" rows="4"></textarea>						
						</div>
						<div class="col-xs-3 picture">
							Illustrate {{word}}...
						</div>
					</div>

					<!-- write sentences -->
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="col-xs-12">
						<h2>Sentence Composition</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p class="">Write a sentence using each word in the space below (total should be <strong>at least {{group.length}} sentences</strong>). Think about how you might connect these sentences in a story or short poem for extra practice. <span>
							<img src="http://simpleicon.com/wp-content/uploads/smile.png" class"img-responsive" height="20px" width="20px" style="display: inline;"></img> 
							</span></p>
						</div>
					</div>			
			</div>
			<div class="row">
				<ul>
					<li ng-repeat="n in ['1)','2)','3)','4)','5)','6)','More...']">
						<p style="margin-bottom: 30px">{{n}} </p> </li>
				</ul>
			</div>

		</div>
		<div class="row paper">
			<div class="row">
				<div class="col-xs-12">
					<h1>All {{title}} Words</h1>	
				</div>
			</div>
				
			<div class="col-xs-3" ng-repeat="word in vocab"><p style=
				"font-size:9pt"> {{$index+1}}. {{word}}</p></div>
		</div>
	</div>



<script src="vocab_list.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
	var app = angular.module('app', []);
	console.log(vocab)
	app.controller('ctrl', function ($scope) {
			$scope.title="English 6th Vocab Worksheet";
			$scope.vocab = vocab.sort();
			$scope.vocabText = $scope.vocab.join(', ');
			$scope.vocabTextParsed = function() {
				var str = $scope.vocabText;
				var re = /\b(\w+)\b/gi;
				var matches = str.match(re);
				// console.log(matches)
				return matches;
			}
			$scope.setVocab = function() {
				$scope.vocab = $scope.vocabTextParsed().sort();
				$scope.vgroups = $scope.vocabGroups();

			}
			$scope.underlinedText = function() {
				var s="";
				for (var i = 0; i < 300; i++) {
					s+='_ '
				};
				return s;
			}();
			$scope.vocabGroups = function() {
				var vocabGroups = [];
				var list = [];
				var num = 6;
				var varray = $scope.vocab.slice();

				while (varray.length > 0)
				    vocabGroups.push(varray.splice(0, num));
				return vocabGroups
			};

			$scope.vgroups = $scope.vocabGroups();
		})
</script>
</body>
</html>
